<?xml version="1.1" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//OPENWAVE//DTD XHTML 1.0//EN" "http://www.openwave.com/DTD/xhtml-basic.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
	<head>
		<title>{{ site.title }}</title>
		<meta http-equiv=Content-Type content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta name="keywords" content="live bar ライブバー 福生 拝島 きくちよ キクチヨ" />
		<meta name="description" content="「お酒と唄を楽しむお店 菊千代」は、福生にあるライブバーです。福生でライブを見たい・聴きたい、したい方は是非お越し下さい。" />
		<meta content="ALL" name="ROBOTS" />
		<meta name="robots" content="INDEX,FOLLOW" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<link rel="Shortcut Icon" type="image/x-icon" href="favicon.ico" />
		<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/main.css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="{{ ASSET_PATH }}/js/main.js"></script>
	</head>
	<body bgcolor="#000000">
		<h1><a href="./"><b>お酒と唄を楽しむお店 菊千代 LIVE BAR KiKUCHIYO</b></a></h1>

		{{ content }}

		<div id="footer">
			<div id="ordertime">営業時間 &lt;OPEN&gt; 18:00 ～ &lt;CLOSE&gt; <b>according to the mood</b></div>
			<div id="closed">定休日 月曜・第2第4日曜</div>
			<address>ADDRESS : 〒197-0003 東京都福生市熊川 509-1[<a href="http://maps.google.co.jp/maps?hl=ja&q=%E7%A6%8F%E7%94%9F%E5%B8%82%E7%86%8A%E5%B7%9D509-1&ie=UTF8&hq=&hnear=%E6%9D%B1%E4%BA%AC%E9%83%BD%E7%A6%8F%E7%94%9F%E5%B8%82%E7%86%8A%E5%B7%9D%EF%BC%95%EF%BC%90%EF%BC%99%E2%88%92%EF%BC%91&z=16&brcurrent=3,0x60191f92206aa993:0x2a37bd04cfb9815b,0,0x60191f91f67935e9:0x8c5706d80c28607" target="_blank">GoogleMap</a>]</address>
			<tel>TEL・FAX : 042-513-3617</tel>
			<div id="mail">mail</div>
			<br/>
			<div id="requirement">Internet Explorer 7.x、8.x / Firefox 3.x / Google Chrome 4.x / Safari 5.x でのご利用を推奨します。</div>
			<div id="copyright">Copyright (C) All Rights Reserved.</div>
		</div>

	</body>
</html>