tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ÇlÇr ÇoÉSÉVÉbÉN", monospace;
	mso-font-charset:128;
	border:none;
	mso-protection:locked visible;
	mso-style-name:ïWèÄ;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"ÇlÇr ÇoÉSÉVÉbÉN", monospace;
	mso-font-charset:128;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	text-align:right;}
.xl66
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:"ÇlÇr Çoñæí©", serif;
	mso-font-charset:128;
	mso-number-format:"\0022\\0022\#\,\#\#0\;\[Red\]\0022\\0022\\-\#\,\#\#0";
	text-align:center;
	vertical-align:top;}
.xl67
	{mso-style-parent:style0;
	font-size:18.0pt;
	font-weight:700;
	font-family:"ÇlÇr Çoñæí©", serif;
	mso-font-charset:128;
	text-align:center;
	vertical-align:top;}
.xl68
	{mso-style-parent:style0;
	text-align:center;}
